<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enquête APC</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
        .container{width:80%; margin:0 auto; font-family:'Roboto', sans-serif;}
        .table{border:none;}
    </style>
</head>
<body>
    <div class="container">
        <h1>Enquête APC</h1>
        <p>Bonjour<br>
            Uploader file ici :
        <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
        </p>
        <h2>Table</h2>
        {{tables | safe}}
    </div>
</body>
</html>